body {
    font-family: Tahoma, Verdana, sans-serif;
    border: solid #c8c8c8 1px;
    margin: 0;
}

.level01 {
    box-sizing: border-box;
    border: solid red 1px;
    position: absolute;
    bottom: 0;
    right: 60%;
    left: 25%;
    margin: 0 auto;
}

.level02 {
    border: solid cyan 1px;
    position: absolute;
    top: 15px;
    bottom: -40px;
    left: 45px;
    right: 5px;
    white-space: nowrap;
    overflow: auto;
}

.scrollbox {
    position: absolute;
    top: 100px;
    width: 30%;
    height: 150px;
    border: solid red 1px;
    overflow: auto;
}

.scrollbox h4 {
    border: solid cyan 1px;
    position: sticky;
    top: 10px;
    bottom: 5px;
    background-color: white;
}